Lenguaje de Marcas/VISUAL_STUDIO/Lenguaje de Marcas_Codigo/PrimerTrimestreXML/Ejercicicios_XSD/heladeria2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:element name="heladeria">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="helado" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:choice>
                            <xs:sequence>
                                <xs:element name="fresa" minOccurs="0"/>
                                <xs:element name="chocolate"/>
                            </xs:sequence>
                            <xs:sequence>
                                <xs:element name="vainilla" minOccurs="0"/>
                                <xs:element name="chocolate"/>
                            </xs:sequence>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>