Lenguaje de Marcas/VISUAL_STUDIO/Lenguaje de Marcas_Codigo/PrimerTrimestreXML/Ejercicicios_XSD/jajajaja.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="alumno">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string" />
                <xs:element name="direccion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="numero">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minExclusive value="0"/>
                                        <xs:maxExclusive value="500"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="provincia" type="xs:string"/>
                            <xs:element name="calle" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="telefono" type="xs:integer" minOccurs="0" maxOccurs="5"/>
            </xs:sequence>
            <xs:attribute name="dni">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:pattern value="[0-9]{8}[A-Z]"/> 
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>

    


    </xs:element>
</xs:schema>