Lenguaje de Marcas/VISUAL_STUDIO/Lenguaje de Marcas_Codigo/PrimerTrimestreXML/Ejercicios_XML/biblioteca.dtd


<!ELEMENT Biblioteca (Lista_libros)>
<!ELEMENT Lista_libros (Libro+)>
<!ELEMENT Libro (Autor, Editorial)>
<!ATTLIST Libro
    titulo CDATA #REQUIRED
    paginas CDATA #REQUIRED
    >
<!ELEMENT Autor (#PCDATA)>
<!ELEMENT Editorial (#PCDATA)>

<!-- 

    solo añadirlo si esta de forma interna!
    <!DOCTYPE Biblioteca [
        
    ]>        
-->