Lenguaje de Marcas/VISUAL_STUDIO/Lenguaje de Marcas_Codigo/PrimerTrimestreXML/examenJonatanTR/ejercicio4.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="alumno">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "nif">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{8}[A-Z]{1}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "resultado">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Apto"/>
                            <xs:enumeration value="No apto"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
