Lenguaje de Marcas/VISUAL_STUDIO/Lenguaje de Marcas_Codigo/PrimerTrimestreXML/examenJonatanTR/ejercicio1.dtd

<!ELEMENT agenda (maximo*, persona*)>
<!ELEMENT maximo (#PCDATA)>
<!ELEMENT persona ((cp|ciudad), telefono+, cp)>
<!ATTLIST persona
    clase CDATA  #REQUIRED
    tipo (1|2|3) CDATA #IMPLIED
    >
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT cp (#PCDATA)>